.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.decor {
  background-color: #f4f4f4;
}

.code-blue {
  color: blue !important;
}

.code-red {
  color: salmon !important;
}

.code-red--pure {
  font-weight: 700;
  color: #f00 !important;
}

.buttons-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 2px;
}

.btn--regular {
  border-color: #1f1f77;
  color: #1f1f77;
}

.btn--green {
    border-color: #0e540a;
    color: #0e540a;
}

.btn--conditional {
  border-color: salmon;
  color: salmon;
}

.footer {
  background-color: #222;
}
.copy {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
